## Importing Packages

In [1]:
import sys
## The utils.py directory
sys.path.insert(0, '/utils')

import utils

import csv
import numpy as np
import pandas as pd

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
Using TensorFlow backend.

## Specify the Directory

In [2]:
## The Powergrading dataset tsv files directory
files_path = 'dataset'

## Read the Questions and Model Aswers File

In [3]:
tsv_file = open(f'{files_path}/questions_answer_key.tsv')
read_tsv = csv.reader(tsv_file, delimiter = '\t')

questions = []

for row in read_tsv:
    questions.append(row)

In [4]:
df = pd.DataFrame(questions, columns = ['qustionNumber', 'question', 'referenceAnswers', 'Answer_2', 'Answer_3', 'Answer_4',
                                        'Answer_5', 'Answer_6', 'Answer_7', 'Answer_8', 'Answer_9',
                                        'Answer_10'])

In [5]:
new_header = df.iloc[0] 

df = df[1:]

In [6]:
df.head()

,qustionNumber,question,referenceAnswers,Answer_2,Answer_3,Answer_4,Answer_5,Answer_6,Answer_7,Answer_8,Answer_9,Answer_10
1,1,What are the first ten amendments to the U.S. ...,the Bill of Rights,None,None,None,None,None,None,None,None,None
2,2,What is one right or freedom from the First Am...,speech,religion,assembly,press,petition the government,None,None,None,None,None
3,3,What did the Declaration of Independence do?,announced our independence,announced our independence from Great Britian,declared our independence,declared our independence from Great Britain,said that the United States is free,said that the United States is free from Great...,None,None,None,None
4,4,What is the economic system in the United States?,capitalist economy,market economy,None,None,None,None,None,None,None,None
5,5,Name one of the three branches of the United S...,Congress,legislative,President,executive,the courts,judicial,None,None,None,None

In [7]:
df['referenceAnswers'] = df[df.columns[2:]].apply(lambda x: ','.join(x.astype(str)), axis=1)

In [8]:
df.head()

,qustionNumber,question,referenceAnswers,Answer_2,Answer_3,Answer_4,Answer_5,Answer_6,Answer_7,Answer_8,Answer_9,Answer_10
1,1,What are the first ten amendments to the U.S. ...,"the Bill of Rights,None,None,None,None,None,No...",None,None,None,None,None,None,None,None,None
2,2,What is one right or freedom from the First Am...,"speech,religion,assembly,press,petition the go...",religion,assembly,press,petition the government,None,None,None,None,None
3,3,What did the Declaration of Independence do?,"announced our independence,announced our indep...",announced our independence from Great Britian,declared our independence,declared our independence from Great Britain,said that the United States is free,said that the United States is free from Great...,None,None,None,None
4,4,What is the economic system in the United States?,"capitalist economy,market economy,None,None,No...",market economy,None,None,None,None,None,None,None,None
5,5,Name one of the three branches of the United S...,"Congress,legislative,President,executive,the c...",legislative,President,executive,the courts,judicial,None,None,None,None

In [9]:
df.drop(df.iloc[:, 3:], inplace = True, axis = 1)

In [10]:
df.head()

,qustionNumber,question,referenceAnswers
1,1,What are the first ten amendments to the U.S. ...,"the Bill of Rights,None,None,None,None,None,No..."
2,2,What is one right or freedom from the First Am...,"speech,religion,assembly,press,petition the go..."
3,3,What did the Declaration of Independence do?,"announced our independence,announced our indep..."
4,4,What is the economic system in the United States?,"capitalist economy,market economy,None,None,No..."
5,5,Name one of the three branches of the United S...,"Congress,legislative,President,executive,the c..."

In [11]:
df['referenceAnswers'] = df['referenceAnswers'].str.replace(r'None,', '')

In [12]:
df.head()

,qustionNumber,question,referenceAnswers
1,1,What are the first ten amendments to the U.S. ...,"the Bill of Rights,None"
2,2,What is one right or freedom from the First Am...,"speech,religion,assembly,press,petition the go..."
3,3,What did the Declaration of Independence do?,"announced our independence,announced our indep..."
4,4,What is the economic system in the United States?,"capitalist economy,market economy,None"
5,5,Name one of the three branches of the United S...,"Congress,legislative,President,executive,the c..."

In [13]:
df['referenceAnswers'] = df['referenceAnswers'].str.replace(r',None', '')

In [14]:
df.head()

,qustionNumber,question,referenceAnswers
1,1,What are the first ten amendments to the U.S. ...,the Bill of Rights
2,2,What is one right or freedom from the First Am...,"speech,religion,assembly,press,petition the go..."
3,3,What did the Declaration of Independence do?,"announced our independence,announced our indep..."
4,4,What is the economic system in the United States?,"capitalist economy,market economy"
5,5,Name one of the three branches of the United S...,"Congress,legislative,President,executive,the c..."

## Read the Students Aswers File

In [15]:
tsv_file = open(f'{files_path}/studentanswers_grades_698.tsv')
read_tsv = csv.reader(tsv_file, delimiter = '\t')

train_data = []

for row in read_tsv:
    train_data.append(row)

In [16]:
train_df = pd.DataFrame(train_data)

In [17]:
new_header = train_df.iloc[0] 

train_df = train_df[1:]

train_df.columns = new_header

In [18]:
train_df.head()

,student,Q#,answer,G1,G2,G3
1,e48c004d-82d2-4be5-96a0-fbccf723b6ca,1,bill of rights,1,1,1
2,e48c004d-82d2-4be5-96a0-fbccf723b6ca,2,freedom of speech,1,1,1
3,e48c004d-82d2-4be5-96a0-fbccf723b6ca,3,it declared that the colonies were free from b...,1,1,1
4,e48c004d-82d2-4be5-96a0-fbccf723b6ca,4,market economy,1,1,1
5,e48c004d-82d2-4be5-96a0-fbccf723b6ca,5,executive branch,1,1,1

## Merging all Datasets

In [19]:
train_df = train_df.drop(['student'], axis=1)

In [20]:
train_df.head()

0 Q#                                             answer G1 G2 G3
1  1                                     bill of rights  1  1  1
2  2                                  freedom of speech  1  1  1
3  3  it declared that the colonies were free from b...  1  1  1
4  4                                     market economy  1  1  1
5  5                                   executive branch  1  1  1

In [21]:
train_df.G1 = train_df.G1.astype(int)
train_df.G2 = train_df.G2.astype(int)
train_df.G3 = train_df.G3.astype(int)

In [22]:
col = train_df.loc[: , 'G1':'G3']

In [23]:
train_df['avg'] = col.mean(axis = 1)

In [24]:
train_df.head(50)

0   Q#                                             answer  G1  G2  G3  avg
1    1                                     bill of rights   1   1   1  1.0
2    2                                  freedom of speech   1   1   1  1.0
3    3  it declared that the colonies were free from b...   1   1   1  1.0
4    4                                     market economy   1   1   1  1.0
5    5                                   executive branch   1   1   1  1.0
6    6                                           congress   1   1   1  1.0
7    7         it depends on the population of the state.   1   1   1  1.0
8    8                               speaker of the house   1   1   1  1.0
9    9                                   to raise an army  -1  -1  -1 -1.0
10  10                     to tax the people in its state  -1  -1  -1 -1.0
11  11                    they can vote or run for office  -1  -1  -1 -1.0
12  12                                             age 18  -1  -1  -1 -1.0
13  13                  to practice their religion freely   1   1   1  1.0
14  14                 to gain freedom from british rule.  -1  -1  -1 -1.0
15  15                                               1776  -1  -1  -1 -1.0
16  16                                          civil war  -1  -1  -1 -1.0
17  17                          franklin delano roosevelt  -1  -1  -1 -1.0
18  18                                  mississippi river  -1  -1  -1 -1.0
19  19                                            arizona  -1  -1  -1 -1.0
20  20  each stripe is for the thirteen original colon...   1   1   1  1.0
21   1                                 the bill of rights   1   1   1  1.0
22   2                                  freedom of speech   1   1   1  1.0
23   3             declared our independence from england   1   1   1  1.0
24   4                                         capitalism   1   1   1  1.0
25   5                                           judicial   1   1   1  1.0
26   6                                           congress   1   1   1  1.0
27   7                           it's based on population   1   1   1  1.0
28   8                               speaker of the house   1   1   1  1.0
29   9                                         levy taxes  -1  -1  -1 -1.0
30  10                                          pass laws  -1  -1  -1 -1.0
31  11                            vote and run for office  -1  -1  -1 -1.0
32  12                                                 18  -1  -1  -1 -1.0
33  13                                  religious freedom   1   1   1  1.0
34  14  they were subject to british rule but had no r...  -1  -1  -1 -1.0
35  15                                               1789  -1  -1  -1 -1.0
36  16                                        war of 1812  -1  -1  -1 -1.0
37  17                                 franklin roosevelt  -1  -1  -1 -1.0
38  18                                        mississippi  -1  -1  -1 -1.0
39  19                                              texas  -1  -1  -1 -1.0
40  20                represents the original 13 colonies   1   1   1  1.0
41   1                                     bill of rights   1   1   1  1.0
42   2                                        to bear arm   0   0   0  0.0
43   3             pretty much it the law we follow today   0   0   0  0.0
44   4                                        dollar bill   0   0   0  0.0
45   5                                           judicial   1   1   1  1.0
46   6                                          president   0   0   0  0.0
47   7       have no clue i didnt even knew they had that   0   0   0  0.0
48   8                                secrteay of defense   0   0   0  0.0
49   9                    pretty nuch to pass federal law  -1  -1  -1 -1.0
50  10                                  ahhhh immraations  -1  -1  -1 -1.0

In [25]:
train_df['avg'].unique()

array([ 1.        , -1.        ,  0.        ,  0.66666667,  0.33333333])

In [26]:
train_df['avg'] = train_df['avg'].round(decimals=0)

In [27]:
train_df.head()

0 Q#                                             answer  G1  G2  G3  avg
1  1                                     bill of rights   1   1   1  1.0
2  2                                  freedom of speech   1   1   1  1.0
3  3  it declared that the colonies were free from b...   1   1   1  1.0
4  4                                     market economy   1   1   1  1.0
5  5                                   executive branch   1   1   1  1.0

In [28]:
train_df['avg'].unique()

array([ 1., -1.,  0.])

In [29]:
train_df.avg = train_df.avg.astype(int)

In [30]:
train_df.head()

0 Q#                                             answer  G1  G2  G3  avg
1  1                                     bill of rights   1   1   1    1
2  2                                  freedom of speech   1   1   1    1
3  3  it declared that the colonies were free from b...   1   1   1    1
4  4                                     market economy   1   1   1    1
5  5                                   executive branch   1   1   1    1

In [31]:
train_df = train_df.set_index('Q#')

In [32]:
train_df_final = df.join(train_df, on = 'qustionNumber')

In [33]:
train_df_final.rename(columns = {'qustionNumber':'id'}, inplace = True)

In [34]:
train_df_final.answer = train_df_final.answer.astype(str)

In [35]:
train_df_final.shape

(13960, 8)

In [36]:
train_df_final.tail()

,id,question,referenceAnswers,answer,G1,G2,G3,avg
20,20,Why does the flag have 13 stripes?,"because there were 13 original colonies,becaus...",13 colonies,1,1,1,1
20,20,Why does the flag have 13 stripes?,"because there were 13 original colonies,becaus...",to represent the original 13 colonies,1,1,1,1
20,20,Why does the flag have 13 stripes?,"because there were 13 original colonies,becaus...",represents the 13 original colonies,1,1,1,1
20,20,Why does the flag have 13 stripes?,"because there were 13 original colonies,becaus...",13 original colonies,1,1,1,1
20,20,Why does the flag have 13 stripes?,"because there were 13 original colonies,becaus...",1 stripe for each original colony.,1,1,1,1

In [37]:
def f(train_df_final):
    if train_df_final['avg'] == 1:
        return 1
    else: 
        return 0
        
train_df_final['correct'] = train_df_final.apply(f, axis=1)

In [38]:
train_df_final = train_df_final.drop(['G1', 'G2', 'G3', 'avg'], axis=1)

In [39]:
train_df_final = train_df_final.astype(str)

In [40]:
train_df_final.head()

,id,question,referenceAnswers,answer,correct
1,1,What are the first ten amendments to the U.S. ...,the Bill of Rights,bill of rights,1
1,1,What are the first ten amendments to the U.S. ...,the Bill of Rights,the bill of rights,1
1,1,What are the first ten amendments to the U.S. ...,the Bill of Rights,bill of rights,1
1,1,What are the first ten amendments to the U.S. ...,the Bill of Rights,the bill of rights,1
1,1,What are the first ten amendments to the U.S. ...,the Bill of Rights,bill of rights,1

In [41]:
train_df_final.to_csv('data/Powergrading/UNcleaned_powergrading.csv', index = False)

## Pre-process the data

In [42]:
train_df_final.isnull().sum()

id                  0
question            0
referenceAnswers    0
answer              0
correct             0
dtype: int64

In [43]:
clean_df = utils.clean_data(train_df_final,
                            'question',
                            'referenceAnswers',
                            'answer')

C:\Users\Lenovo\anaconda3\lib\site-packages\bs4\__init__.py:314: UserWarning: "b'...'" looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)

In [44]:
clean_df.head()

,id,question,referenceAnswers,answer,correct
1,1,first ten amendment u constitution call,bill right,bill right,1
1,1,first ten amendment u constitution call,bill right,bill right,1
1,1,first ten amendment u constitution call,bill right,bill right,1
1,1,first ten amendment u constitution call,bill right,bill right,1
1,1,first ten amendment u constitution call,bill right,bill right,1

## Convert the Cleaned Powergrading dataset csv File

In [45]:
clean_df.to_csv('data/Powergrading/cleaned_powergrading.csv', index = False)